:root {
    --header-height: 65px;
    --nav-width: 240px;
}

* {
    flex-shrink: 0;
    box-sizing: border-box;
}

#x-header {
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    height: var(--header-height);
}

#x-main {
    position: fixed;
    right: 0;
    width: calc(100vw - var(--nav-width));
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

/* 导航目录 */
#x-nav {
    width: var(--nav-width);
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

#x-nav>* {
    padding: .5rem 1rem;
}

#x-nav ul {
    margin: 0;
    padding: 0;
}

#x-nav li.nav-item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#x-nav ul.sub-nav {
    flex: 1;
}

#x-nav li.sub-item {}

/* 主体 */
#x-main>.modal-dialog {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    max-width: unset;
    height: 100%;
    width: 100%;
}

#x-tab-nav .nav-item {
    position: relative;
}
#x-tab-nav .nav-item button.close {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 1.3rem;
}
#x-main .modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#x-main #x-tab-content {
  flex: 1;
}

#x-main #x-tab-content > .tab-pane {
  /* justify-content: stretch;
  align-items: stretch;
  flex: 1; */
  height: 100%;
  width: 100%;
  border: none;
}
