#x-nav {
    --nav-background:linear-gradient(to bottom, rgb(0, 140, 0), rgb(20, 80, 20));
    /* rgb(20, 80, 20); */
}

#x-nav {
    background: var(--nav-background);
    -webkit-box-shadow: .5rem 0 1rem rgba(0, 0, 0, .25);
            box-shadow: .5rem 0 1rem rgba(0, 0, 0, .25);
}

#x-nav {
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#x-nav .nav-link, #x-nav .nav-item {
    background-color: rgb(60, 160, 0);
    -webkit-transition: border-bottom .1s ease-in, background-color .3s ease-in 0s;
    transition: border-bottom .1s ease-in, background-color .3s ease-in 0s;
    border-bottom: 1px solid rgb(20, 60, 0);
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
}

#x-nav .nav-link:hover {
    background-color: rgb(100, 220, 120);
    border-bottom: 1px solid rgb(100, 180, 40);
}

#x-nav .sub-item {
    background: var(--nav-background);
    padding: 1px 0rem 0px .3rem;
}
#x-nav .sub-item  .nav-item {
    padding: .45rem 1rem;
}
